numpy<2.0
diffusers
transformers
accelerate 
datasets
torch==2.2.0+cu118
torchvision==0.17.0+cu118
torchaudio==2.2.0+cu118
--extra-index-url https://download.pytorch.org/whl/cu118
matplotlib
ipython
scipy